body {
    margin: 0;
    padding: 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #000000;
    text-align: center;
    font-family: 'Overpass', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.app-title {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 76px;
    color: rgb(168, 251, 60);
    font-family: 'Syne Mono', 'Roboto', 'Courier New', Courier, monospace;
}